{% extends "base.html" %}


{% block content %}

    <h2 class="text-center mt-5">About</h2>
    
    <div class="row mt-5">
        <div class="col-sm-12">
            <h1>Pcoder</h1>
            <p>Connu sous le nom de <strong>Pcoder</strong>, je suis ce que tu ignore que je pourrais etre en etant moi meme</p>
            <p>Pour plus de detail veuillez consulter <a href="https://potfolio-krakou-react-js.herokuapp.com/"  target="_blank">mon mini portfolio ici</a></p>
            <p>Ou vous pouvez aussi voir le resto static que j'ai fait. Si vous etes d'accord, <a href=" https://restaurant-react-site.herokuapp.com/" target="_blank">cliquez ici</a></p>
        </div>
    </div>

{% endblock content %}